<label for="inputState" class="col-sm-2 col-form-label"><%= t(:district) %></label>
<div class="col-sm-10">
  <%= select_tag "user[district_id]", options_from_collection_for_select(districts, "id", "name", user.try(:districts)),
      {prompt: t(:select_district), class: "form-select", id: "inputDistrict"} %>
</div>
